.wrapper{
    display: flex;
}
.mobile-nav{
    display: none;
}
.mobile-footer{
    display: none;
}
.side-nav{
    display: flex;
    height: 100vh;
    overflow: auto;
    padding: 0px 8px;
    scrollbar-color: rgb(185, 202, 211) rgb(247, 249, 249);
}
.home-post img{
    padding: 12px;
    display: flex;
}
/* .home-post img:hover{
    background-color: #e7e7e8;
    border-radius: 50%;
} */
.logo-cover img{
    padding: 0;
    height: 26px;
    width: 26px;
}
.LOGO-COVER{
    position: relative;
}
.logo-cover{
    display: flex;
    padding: 12px;
    border-radius: 50%;
    position: relative;
}
.logo-cover:hover ~ .nav-tooltip, .more-icon:hover > .nav-tooltip{
    display: flex;
}
.Logo-cover:hover ~ .nav-tooltip{
    display: flex;
}
.LOGO-COVER button{
    border: none;
}
.nav-tooltip{
    display: none;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
    padding: 0 5px;
    /* left: 3px; */
    background-color: #536471;
    color: #fff;
    transition-duration: 1.2s;
    font-size: 12px;
    z-index: 2;
}
.logo-cover:hover{
    background-color: #e7e7e8;
}
.post .Logo-cover{
    padding: 12px;
    background-color: rgb(29, 155, 240);
    border-radius: 50%;
}
#more-icon-dropdown{
    display: none;
}
.logo-cover .more-icon-dropdown{
    display: none;
    flex-direction: column;
    position: fixed;
    width: 318px;
    z-index: 3;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    bottom: 135px;
    left: 80px;
    box-shadow: 0 0 15px rgba(101,119,134,0.2), 0 0 3px 1px rgba(101,119,134,0.15);
}
.more-icon-dropdown b{
    font-size: 20px;
}
.more-icon-dropdown > div{
    padding: 13.5px 16px;
}
.more-icon-dropdown > div:hover{
    background-color: #F7F7F7;
}
.more-icon-dropdown img{
    padding: 0;
    width: 100%;
    height: 100%;
    padding-right: 25px;
}
.more-icon-dropdown img:hover{
    background-color: white;
}
.more-icon-dropdown .top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.more-icon-dropdown .buttom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#more-icon-dropdown:checked ~ .more-icon-dropdown{
    display: flex;
    width: 318px;
}
/* .my-profile{
    padding: 12px;
} */
.post{
    margin: 16px 0px;
}
#account-dropdown{
    display: none;
}
.logo-cover .account-dropdown{
    display: none;
    flex-direction: column;
    position: fixed;
    padding: 8px 0px;
    width: 300px;
    z-index: 3;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    bottom: 65px;
    left: 80px;
    box-shadow: 0 0 15px rgba(101,119,134,0.2), 0 0 3px 1px rgba(101,119,134,0.15);
}
.account-dropdown b{
    font-size: 15px;
}
.account-dropdown > div{
    padding: 12px 16px;
}
.account-dropdown a{
    text-decoration: none;
    color: black;
}
.account-dropdown > div:hover{
    background-color: #F7F7F7;
}
#account-dropdown:checked ~ .account-dropdown{
    display: flex;
}
.dropdown-arrow{
    position: absolute;
    transform: rotate(180deg);
    bottom: 52px;
    left: 20px;
    filter: drop-shadow(rgb(207, 217, 222) 1px -1px 1px);
}
.header-modal{
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}
.header-modal h6{
    color: #1d98f0;
}
.everyone{
    position: relative;
}
#everyone{
    display: none;
}
.choose-audience{
    display: none;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    border: 1px solid black;
    position: absolute;
    left: -20px;
    padding: 12px 16px;
}
#everyone:checked ~ .choose-audience{
    display: flex;
}
.audience-container{
    display: flex;
    justify-content: space-between;
}
.audience{
    display: flex;
}
.tweet-and-trend-container{
    flex: 1;
}
.tweet-container{
    border-right: 1px solid rgba(239, 243, 244, 1.00);
    max-width: 600px;
}
.tweet-navigation{
    display: flex;
    align-items: center;
    /* background-color: white; */
    background: hsl(0 100% 100% / 75%);
    backdrop-filter: blur(50px);
}
.tweet-nav{
    display: flex;
    justify-content: center;
    flex: 1;
}
.tweet-nav a{
    text-decoration: none;
    padding: 16px 0px;
    font-weight: 700;
    position: relative;
}
.tweet-nav div{
    position: absolute;
    bottom: 0;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px; */
    border-radius: 5px;
}
.tweet-nav:hover{
    background-color: #e4e5e8;
}
.timelime-settings{
    flex: .2;
    display: flex;
    justify-content: baseline;
}
.timelime-setting{
    display: flex;
    justify-content: center;
    padding: 18px;
    width: 24px;
    height: 24px;
    align-items: center;
}
.timelime-setting img{
    width: 24px;
    height: 24px;
}
.timelime-setting:hover{
    border-radius: 50%;
    background-color: #e4e5e8;
}
.tweeting-section{
    padding: 0 16px 0;
    border-bottom: 1px solid rgba(239, 243, 244, 1.00);
    display: flex;
}
.my-profile-pics{
    margin-right: 8px;
    position: relative;
}
.my-profile{
    height: 40px;
}
.what-is-happening{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.tweeting-section label{
    width: 100%;
    border: 0px;
    outline: 0px;
}
textarea{
    width: 100%;
    border: 0px;
    outline: 0px;
}
.what-is-happening button{
    border-radius: 30px;
    padding: 3px 10px 5px;
}
.post-others >*{
    display: flex;
    border-radius: 50%;
    position: relative;
}
.post-others>*:hover{
    background-color: #1d98f0;
}
.location-disabled:hover{
    background-color: white;
}
.other-options:hover > .nav-tooltip{
    display: flex;
}
.post-others img{
    color: rgb(29, 155, 240);
    padding: 9px;
}
.tweet-section{
    padding: 16px 16px 0;
    border-bottom: 1px solid rgba(239, 243, 244, 1.00);
    cursor: pointer;
}
.tweet-section:hover{
    background-color: #f7f7f7;
}
.name-handle{
    display: flex;
    justify-content: space-between;
}
.name-handle>*:first-child{
    display: flex;
}
.name-handle .more-icon{
    padding: 7px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 50%;
}
.name-handle .more-icon:hover{
    background-color: #1d98f0;
}
.name, .handle span{
    position: relative;
}
.name a,.handle span a, .my-profile-pics a{
    color: #0f1419;
    text-decoration: none;
}
.name a:hover,.handle span a:hover,.my-profile-pics a:hover{
    text-decoration: underline;
}
#more-dropdown{
    display: none;
}
.more-dropdown{
    display: none;
    position: absolute;
}
.more-icon .more-dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 351px;
    z-index: 3;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    top: 0;
    right: -5px;
    box-shadow: 0 0 15px rgba(101,119,134,0.2), 0 0 3px 1px rgba(101,119,134,0.15);
}
.more-dropdown b{
    font-size: 15px;
}
.more-dropdown > div{
    padding: 12px 16px;
}
.more-dropdown > div:hover{
    background-color: #F7F7F7;
}
.more-dropdown img{
    padding: 0;
    width: 23px;
    height: 23px;
    padding-right: 5px;
}
.more-dropdown img:hover{
    background-color: white;
}
.more-dropdown .top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.more-dropdown .buttom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#more-dropdown:checked ~ .more-dropdown{
    display: flex;
}
.share-bookmart-section{
    display: flex;
}
.account-info-popup{
    width: 300px;
    height: 308px;
    position: absolute;
    box-shadow: 0 0 15px rgba(101, 119, 134, 0.2),0 0 3px 1px rgba(101, 119, 134, 0.15);
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
    top: 110px;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    flex-direction: column;
    z-index: 1021;
    display: none;
}
.follow-btn{
    padding: 0 16px;
    border: 1px solid #A0A9B0;
    display: flex;
    height: 35px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
}
.unfollow-btn{
    display: none;
    padding: 0 18.8px;
    color: #f4212e;
    background-color: #fee8ea;
    border: 1px solid #fdc9ce;
    height: 35px;
    align-items: center;
    border-radius: 16px;
    justify-content: center;
}
.follow-button:hover > .follow-btn{
    display: none;
}
.follow-button:hover > .unfollow-btn{
    display: flex;
}
.account-info-popup > div{
    width: 100%;
}
.account-info-popup span{
    font-size: 14px;
}
.name:hover > .account-info-popup, .handle span:hover > .account-info-popup, .my-profile-pics:hover > .account-info-popup{
    display: flex;
}
.people-following{
    color: #536471;
}
.people-following:hover{
    text-decoration: underline;
}
.handle{
    color: #536471;
    text-decoration: none;
}
.handle span:hover{
    text-decoration: none;
}
.ramadan-kareem img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.reaction-container{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    align-items: center;
}
.reaction-section{
    display: flex;
    align-items: center;
    flex: 1;
}
.reactions{
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
}
.reactions button{
    border: 0px;
    background-color: white;
}
/* .reactions:hover{
    color: blue;
} */
.reactions>*:first-child{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
}
.reactions>*:not(:first-child){
    padding: 0 0px 0 25px;
    height: 30px;
    display: flex;
    align-items: center;
}
.reactions img{
    width: 30px;
    height: 30px;
    padding: 7px;
    z-index: 1;
}
.reactions  img:hover{
    background-color: #e8f5fd;
    color: beige;
    border-radius: 50%;
}
.react:hover ~ .number{
    color: #1d98f0;
}
.reactions .repost-dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 114px;
    z-index: 3;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    top: 0;
    right: -20px;
    box-shadow: 0 0 15px rgba(101,119,134,0.2), 0 0 3px 1px rgba(101,119,134,0.15);
}
.repost-dropdown > div{
    padding: 12px 16px;
}
.repost-dropdown > div:hover{
    background-color: #F7F7F7;
}
.repost-dropdown img{
    padding: 0;
    width: 23px;
    height: 23px;
    padding-right: 5px;
}
.repost-dropdown img:hover{
    background-color: white;
}
.repost-dropdown .top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.repost-dropdown .buttom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#repost-dropdown{
    display: none;
}
#repost-dropdown:checked ~ .repost-dropdown{
    display: flex;
}
.share-bookmart-section{
    display: flex;
}
/* .share-bookmart-section > div{
    padding: 9px;
} */
.reactions span{
    z-index: 2;
}
.bookmart-container img, .share-container img{
    border-radius: 50%;
    backgrond-color: #536471;
    display: flex;
    align-items: center;
    color: #1d98f0;
    padding: 7px;
}
.share-container{
    position: relative;
}
#share-dropdown{
    display: none;
}
.share-container .share-dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 240px;
    z-index: 3;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    top: 0;
    right: 5px;
    box-shadow: 0 0 15px rgba(101,119,134,0.2), 0 0 3px 1px rgba(101,119,134,0.15);
}
.share-dropdown > div{
    padding: 12px 16px;
}
.share-dropdown > div:hover{
    background-color: #F7F7F7;
}
.share-dropdown img{
    padding: 0;
    width: 23px;
    height: 23px;
    padding-right: 5px;
}
.share-dropdown img:hover{
    background-color: white;
}
.share-dropdown .top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.share-dropdown .buttom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#share-dropdown:checked ~ .share-dropdown{
    display: flex;
}
.other-info{
    padding-bottom: 64px;
    height: max-content;
    position: sticky;
    display: flex;
    height: 100%;
    max-width: 290px;
    /* bottom: -1607px; */
    top: -1200px;
}
.search-section{
    background-color: #fff;
    top: 0px;
    position: sticky;
    z-index: 1020;
    padding-top: 5px;
    padding-bottom: 12px;
}
.search-box{
    display: flex;
    padding: 5px;
    align-items: center;
    border-radius: 25px;
    background-color: #eff3f4;
}
.search-icon{
    display: flex;
    align-items: center;
}
.search-box img{
    color: rgba(83, 100, 113, 1.00);
    padding:0px 0px 0px 12px;
}
.search-space{
    display: flex;
    align-items: center;
    flex: 1;
}
.search-space input{
    display: flex;
    align-items: center;
    padding: 0px 12px 3px;
    border: none;
    outline: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.00);
}
.premium-subscribe{
    padding: 12px 16px 16px 16px;
    background-color: #f7f9f9;
    border-radius: 16px;
    margin: 0 0 16px;
}
.button{
    padding: 6px 16px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
    text-decoration: none;
    border-radius: 15px;
}
.button:hover{
    opacity: .92;
}
.twitter-live{
    background-color: #f7f9f9;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.twitter-live > h5{
    padding: 12px 16px;
    display: flex;
}
.hosting-info{
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    cursor: pointer;
}
.hosting-info:hover{
    background-color: #eff1f1;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.hoster-name{
    display: flex;
    align-items: center;
    margin-bottom: 8PX;
}
.hoster-name h6, .hoster-name p{
    margin: 0;
    width: 145px;
}
.hoster-name span{
    margin-right: 4px;
}
.hoster-name p{
    color: #536471;
}
.hoster-topic-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.hoster-topic-info h6{
    margin: 0;
}
.likes-amount{
    display: flex;
    align-items: center;
    padding: 3px 10px 6px 12px;
    border-radius: 20px;
    border: 2px solid rgb(249, 24, 12);
}
.likes-amount span{
    margin-right: 4px;
}
.twitter-trend{
    background-color: #f7f9f9;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}
.twitter-trend h5{
    padding: 12px 16px;
    margin: 0px;
}
.trending-topics{
    position: relative;
}
.trending-info{
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
}
.trending-info:hover{
    background-color: #eff1f1;
}
.trending-info div{
    color: #536471;
}
.trending{
    display: flex;
    justify-content: space-between;
}
.more{
    position: relative;
    padding: 8px;
    display: flex;
    align-items: center;
}
.more:hover > .nav-tooltip{
    display: flex;
    color: white;
}
/* .more{
    position: absolute;
    right: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    padding: 8px;
} */
.more:hover{
    border-radius: 50%;
    background-color: blue;
    transition: background-color .3s;
}
#more-logo-dropdown{
    display: none;
}
.more-logo-dropdown{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 295px;
    z-index: 3;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    top:0px;
    right: -5px;
    box-shadow: 0 0 15px rgba(101,119,134,0.2), 0 0 3px 1px rgba(101,119,134,0.15);
}
.more-logo-dropdown b{
    font-size: 15px;
    color: black;
}
.more-logo-dropdown > div{
    padding: 13.5px 16px;
}
.more-logo-dropdown > div:hover{
    background-color: #F7F7F7;
}
.more-logo-dropdown img{
    padding: 0;
    width: 100%;
    height: 100%;
    padding-right: 25px;
}
.more-logo-dropdown img:hover{
    background-color: white;
}
.more-logo-dropdown .top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.more-logo-dropdown .buttom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#more-logo-dropdown:checked ~ .more-logo-dropdown{
    display: flex;
    width: 318px;
}
.show-more{
    padding: 12px 16px;
}
.show-more:hover{
    background-color: #eff1f1;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}
.show-more a{
    text-decoration: none;
}
.who-to-follow{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    background-color: #f7f9f9;
    border-radius: 16px;
}
.who-to-follow h5{
    padding: 12px 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.account-info{
    display: flex;
    padding: 12px 16px;
    align-items: center;
}
.account-info:hover{
    background-color: #eff1f1;
}
.account-name-section{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.account-name-section .button{
    display: flex;
    align-items: center;
    height: 35px;
}
.footer-nav{
    padding: 0px 16px;
    font-size: 13.5px;
    margin-top: 16px;
    border-radius: 16px;
}
.footer-nav a{
    margin: 2px 0px;
    padding-right: 8px;
    text-decoration: none;
    color: #536471;
}
.footer-nav a:hover{
    text-decoration: underline;
}
.footer-nav >div{
    margin: 2px 0px;
    padding-right: 8px;
}
.footer-nav div{
    display: inline-flex;
    align-items: center;
    color: #536471;
}
.footer-nav .more-info:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer-nav img{
    width: 17px;
    height: 13px;
    padding: 0px 4px;
}
.vertical-rule{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
    top: 100px;
}
::placeholder{
    font-size: 18px;
}
.modal-dialog{
    max-width: 600px;
}
.modal-content{
    min-width: 600px;
}
.modal-content .tweet-section{
    border-bottom: 0px;
}
.modal-content .tweet-section:hover{
    background-color: white;
}
.my-reply{
    display: flex;
    padding: 0px 16px;
}
.modal-content .post-your-reply{
    width: 100%;
    margin-top: 5px;
    height: 96px;
}
.modal-content input{
    outline: none;
    border: none;
}
.modal-content .footer{
    padding: 8px 16px;
}
.footer button{
    border-radius: 20px;
    padding: 5px 15px 7px 15px;
    display: flex;
    align-items: center;
}
.views-modal-content{
    padding-bottom: 38px;
}
.views{
    max-width: 400px;
    margin: 32px auto;
}
.views p a{
    color: black;
}
.dismiss-btn button{
    width: 100%;
    height: 50px;
    border-radius: 25px;
}
.subscription{
    padding: 36px 58px 20px;
}
.subscription h3{
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}
.subscription a{
    text-decoration: none;
}
.subscription-plan {
    display: flex;
    gap: 16px;
    margin: 32px 0px;
}
.individual, .organization{
    padding: 16px;
    flex: 1;
    line-height: 1.1;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(101,119,134,0.2), 0 0 3px 1px rgba(101,119,134,0.15);
}
.individual:hover, .organization:hover{
    background-color: #F7F9F9;
}
.individual{
    border: 2px solid rgb(29, 155, 240);
}
.subscription .learn-more{
    margin-top: 32px;
}
.nothing{
    max-width: 400px;
    margin: 0 auto;
}
.nothing a{
    text-decoration: none;
}
.nothing h3{
    font-weight: 800;
}
.done-btn button{
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 3px 10px 5px;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width: 575.98px) {
    .wrapper{
        width: 100%;
    }
    .tweet-navigation{
        display: none;
    }
    .mobile-nav{
        display: flex;
        flex-direction: column;
        background: hsl(0 100% 100% / 75%);
        backdrop-filter: blur(50px);
        border-bottom: 1px solid  rgba(239, 243, 244, 1.00);
    }
    .mobile-footer{
        display: flex;
        justify-content: space-between;
        position: fixed;
        padding: 2px 0px;
        width: 100%;
        z-index: 100;
        bottom: 0px;
        border-top: 1px solid  rgba(239, 243, 244, 1.00);
        background-color: white;
    }
    .top-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
    }
    .timelime-settings{
        display: none;
    }
    .side-nav{
        display: none;
    }
    .name-handle>*:first-child{
        display: block;
    }
    .name b{
        font-size: 15px;
    }
    .bookmart{
        display: none;
    }
    .other-info{
        display: none;
    }
    .tweeting-section{
        display: none;
    }
    .name{
        display: block;
    }
    .ramadan-kareem{
        width: fit-content;
    }
    .reaction-container{
        disply: none;
    }
}
@media (min-width: 1200px) {
    .wrapper{
        max-width: 1080px;
        margin: 0 auto;
    }
    .other-info{
        max-width: 350px;
        margin-right: 0px;
        height: max-content;
    }
}